
# -------- Math --------
scipy
numpy

# -------- Plotting --------
matplotlib
seaborn
matlab

# -------- Pycharm --------
ipython

# -------- xml parsing --------
untangle


# -------- units --------
pint