
# -------- Math --------
scipy
numpy

# -------- Plotting --------
matplotlib
seaborn
matlab

# -------- Plotly Plotting --------
plotly
dash
dash-renderer
dash-html-components
dash-core-components
ipywidgets

# -------- Pycharm --------
ipython

# -------- xml parsing --------
untangle


# -------- units --------
pint

# -------- orbital mechanics --------
poliastro